$fontTheme: Roboto,"Open Sans",sans-serif;

$desktop: 1550px;
$tablet: 1100px;
$phone: 768px;

$searchFormBGC-rusline: rgba(0,0,0,0.6);
$searchFormBGC: #ff1723;
$searchBtnColor: #fff;
$searchBtnBGC: $searchFormBGC;
$searchBtnBGC-hover: lighten($searchBtnBGC, 10%);
$searchBtnBoxShadow: rgba($searchBtnBGC, 0.5);
$searchBtnBoxShadow-active: rgba($searchBtnBGC, 0.5);
$searchBtnBoxShadowInset: darken($searchBtnBGC, 15%);
$inputDisabled: rgba(255,255,255,.25);
$inputDisabled-hover: rgba(255,255,255,.2);

