$fontTheme: Roboto,"Open Sans",sans-serif;

$desktop: 1550px;
$tablet: 1100px;
$phone: 768px;

$searchFormBGC: #64b5f6;
$searchBtnColor: #fff;
$searchBtnBGC: #88c43d;
$searchBtnBGC-hover: #94ca51;
$searchBtnBoxShadow: rgba(93,134,41,.5);
$searchBtnBoxShadow-active: rgba(93, 134, 41, 0.5);
$searchBtnBoxShadowInset: #b8dc8b;
$inputDisabled: rgba(255,255,255,.25);
$inputDisabled-hover: rgba(255,255,255,.2);