$fontTheme: Roboto,"Open Sans",sans-serif;

$xl-device: 1550px;
$md-device: 1100px;
$sm-device: 768px;

$searchFormBGC: #64b5f6;
$searchBtnColor: #fff;
$searchBtnBGC: #88c43d;
$searchBtnBGC-hover: #94ca51;
$searchBtnBoxShadow: rgba(93,134,41,.5);
$searchBtnBoxShadow-active: rgba(93, 134, 41, 0.5);
$searchBtnBoxShadowInset: #b8dc8b;
$inputDisabledBorderCOlor: #ccc;