& {
  font-family: $fontTheme;
  background: none;

  .row {
    margin-left: 0;
    margin-right: 0;

    @include responsive(max-desktop-middle) {
      justify-content: space-between;
      width: 100%;
    }
  }

  .Select{
    @include responsive(min-desktop-middle){
      width: 275px;
    }
    @include responsive(desktop-middle){
      width: 215px;
    }

    &-arrow-zone{
      display: none;
    }
  }

  &-form {
    @include responsive (min-desktop-middle) {
      max-width: 1221px;
      margin: 0 auto;
    }

    &-search {
      padding:10px;
      background-color: $searchFormBGC-rusline;

      &__startButton {
        &.btn-primary {
          transition: all .1s ease-in;
          height: 45px;
          padding: 0 18px;
          border: none;
          border-radius: 4px;
          font-size: 18px;
          color: $searchBtnColor;
          line-height: 45px;
          background: $searchBtnBGC;
          font-weight:normal;

          &:hover,
          &:active {
            background: $searchBtnBGC-hover!important;
            color: $searchBtnColor;
          }

          &:active {
            box-shadow: 0 0 0 0.2rem $searchBtnBoxShadow-active!important;
            border-color: $searchBtnBGC-hover!important;
          }
        }
      }

      &__wrapper {
        display: flex;
        flex-wrap: wrap;

        @include responsive(min-desktop-middle) {
          justify-content: space-between;
        }

        .form-group {
          @include responsive(min-desktop-middle) {
            margin-bottom:0;
          }
        }
      }

      &__footer {
        .col {
          &:first-of-type {
            @include responsive (min-desktop-middle) {
              padding-left: 10px;
              padding-right: 0px;
            }

            @media (min-width: 650px) and (max-width: 768px){
              padding-right: 15px!important;
            }
          }

          &:last-of-type {
            @include responsive (min-desktop-middle) {
              padding-left: 10px;
              padding-right: 0px;
            }
          }

          @include responsive(phone) {
            padding: 0!important;
          }
        }
      }
    }

    &-airports {
      &__swap {
        border-radius: 0;
        width: 40px;
        height: 39px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 26px;
        line-height: 0.4!important;

        @include adaptivity (phone) {
          left: unset;
          right: 0px;
          top: -55px;
          border: 0;
          width: 38px;
          height: 38px;
        }

        @include adaptivity (not-phone) {
          left: -57px;
          border: 0;
        }

        @include responsive (tablet) {
          left: -55px;
        }

        @include responsive (min-desktop-middle) {
          left: -55px;
        }

        &:before,
        &:after {
          content: "";
          width: 17px;
          height: 7px;
          transition: all .1s ease-in;
        }

        &:before {
          background: $arrow;
          margin-bottom: 1px;
        }
        &:after {
          background: $arrow;
          transform: rotate(180deg) translateX(1px);
          margin-top: 1px;
        }

        &:hover{
          background: #fff;

          &:before{
            margin-left: 5px;
          }
          &:after{
            margin-right: 5px;
          }
        }
      }

      &__col.col {
        &:first-of-type {
          @media (min-width: 650px) and (max-width: 768px){
            padding-right: 10px!important;
          }

          @include adaptivity (phone){
            margin-bottom:1rem;
          }

          @include responsive (min-desktop-middle) {
            padding-left:0;
          }

          .widget-form-airports__airportCode_withArrow {
            display: none;
          }

          @include adaptivity (not-phone) {
            .widget-ui-input__arrow {
              right: 35px;
            }

            .widget-form-airports__airportCode_withArrow {
              right: 67px;
            }
          }
        }

        &:last-of-type {
          @include adaptivity (not-phone){
            padding-left:15px;
          }

          @include responsive (min-desktop-middle) {
            padding-left: 10px;
            padding-right: 10px;
          }

          .Select {
            &-control {
              .widget-form-airports__select__value{
                padding-left: 10px!important;
              }

              .Select {
                &-input:not(input),
                &-placeholder {
                  padding-left: 10px !important;
                }
              }
            }
          }
        }

        @include responsive (phone) {
          padding: 0!important;
        }
      }

      &__select {
        .Select {
          &-control {
            border-radius: 2px;
            height: 45px;
          }

          &-placeholder{
            font-size: 18px;
            font-weight:normal;
            line-height: 42px;
            color: rgba(100,100,100,.75);
          }

          &-input {
            height: 42px;
            padding-left:10px;

            input {
              height: 42px;
              line-height: 42px;

              @include responsive(desktop-large) {
                min-width: 250px;
              }

              @include responsive(desktop-middle) {
                max-width: 180px;
              }
            }
          }
        }

        &__value {
          padding-left: 10px;

          &__placeholder{
            padding-left: 10px!important;
          }

          &__airportName {
            font-weight: normal;
            font-size: 18px;
            color: #0a0a0f;
          }

          &__countryName {
            font-weight: normal;
            font-size: 18px;
            color: rgba(100,100,100,.75);
          }
        }
      }
    }

    &-dates {
      &__col.col {
        @include responsive(min-desktop-middle) {
          padding: 0!important;
        }

        &:last-of-type{
          padding-left: 10px!important;
        }

        @include responsive(tablet) {
          &:first-of-type {
            padding: 0 7.5px 0 15px!important;
          }

          &:last-of-type {
            padding: 0 15px 0 7.5px!important;
          }
        }

        @include responsive(phone) {
          padding: 0!important;
        }
      }
      .widget-ui-input {
        border-radius: 2px;
        @include responsive(min-desktop-middle) {
          width: 175px;
        }
      }
    }

    &-passengers {
      &__content {
        left: auto;

        @include adaptivity(phone) {
          left: 0;
        }
      }

      &__icon {
        border: 1px solid;
        position: relative;
        display: flex;
        color: $searchFormBGC;
        justify-content: center;
        align-items: center;

        &:hover{
          background-color: $searchFormBGC;
          border-color: $searchFormBGC;
        }

        &_disabled{
          color: #F2F2F2;

          &:hover{
            background-color: transparent;
            border-color: #F2F2F2;
          }
        }

        &:after {
          width: auto;
          height: auto;
          position: static;
          display: inline;
        }


      }

      &__counter {
        margin-left: 10px;
      }
    }
  }

  & &-ui-input {
    &[readonly] {
      height: 45px;
      padding-left: 10px!important;
    }

    &__arrow {
      &:after {
        content: "";
        width: 12px;
        height: 9px;
        margin-top: 4px;
        background: $arrow-down;
        background-repeat: no-repeat;
      }
    }

    &__closer {
      color: $searchFormBGC;
    }

    &_disabled {
      border-color: #ccc!important;
      background-color: $searchBtnColor!important;
      transition: all .1s ease-in!important;


      &:hover {
        background-color: $searchBtnColor!important;
        box-shadow: inset 0 0 16px $inputDisabled-hover;
      }
    }
  }

  & &-ui-datepicker {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding-top: 0;
    border: none;
    
    .react-datepicker {
      &__navigation {
        top: 5px;
        color: $searchBtnColor!important;
        border-color: $searchBtnColor;
        z-index: 1000;

        &--previous:hover,
        &--next:hover {
          background-color: darken($searchFormBGC, 20%);
          border-color: darken($searchFormBGC, 20%);
        }

        @include adaptivity(phone) {
          top: 10px;

          &--previous {
            left: 80px;
          }

          &--next {
            right: 80px;
          }
        }
      }

      &__current-month {
        background: $searchFormBGC;
        padding: 11px 0;
        color: $searchBtnColor;

        @include adaptivity(phone) {
          line-height: 28px;
        }
      }

      &__month {
        border-left: 1px solid #e6e6e6;
        border-top: 1px solid #e6e6e6;

        @include adaptivity(phone) {
          border: none;
        }

        &-container {
          padding: 0;
        }
      }

      &__week {
        margin-bottom:0;

        @include adaptivity(phone) {
          &:first-child {
            .react-datepicker__day{
              border-top: 1px solid #e6e6e6;
            }
          }
        }
      }

      &__day {
        border-bottom: 1px solid #e6e6e6;
        border-right: 1px solid #e6e6e6;
        border-radius: 0;

        @include adaptivity(phone) {
          &:first-child {
            border-left: 1px solid #e6e6e6;
          }
        }

        &-name:nth-child(6),
        &-name:nth-child(7) {
          color: $searchFormBGC;
        }

        &--outside-month {
          opacity:1;
          color: #ccc;
        }

        &--today {
          border-color: $searchFormBGC;
          color: $searchFormBGC!important;
          background: transparent!important;

          &:hover {
            background: rgba(27, 117, 188, 0.2)!important;
          }
        }

        &--selected {
          color: $searchFormBGC!important;
          background: rgba(255, 23, 35, 0.2) !important;
        }
      }
    }

    &__calendar {
      &:after {
        content: "";
        background: $calendar;
        width: 28px;
        height: 21px;
      }
    }

    &__header {
      padding-top: 8px;
      color: $searchBtnColor;

      @include adaptivity (phone) {
        padding-top: 0px;
        background: $searchFormBGC;;
      }

      .widget-ui-mobile__title:before {
        margin-top:0;
      }
    }

    &__footer {
      bottom: 9px;

      &__button {
        background: transparent;
        color: $searchFormBGC;
        border-color: $searchFormBGC;

        &:active,
        &:hover {
          background: $searchFormBGC;
        }
      }
    }

    &_return {
      padding-bottom: 50px;
    }
  }

  & div[disabled] &-ui-datepicker {
    &__calendar {
      color: $searchBtnColor;
    }
  }

  &-ui {
    &-input {
      font-size: 18px!important;
      color: #666666!important;
      padding-left: 15px!important;
      font-weight: normal!important;

      @include placeholder () {
        font-size: 18px;
        color: rgba(100, 100, 100, 0.75);
      }
    }

    &-dropdown {
      &__trigger {
        .form-control {
          font-size: 18px!important;
          color: #666666!important;
          padding-left: 15px!important;
          font-weight: normal!important;
          border-radius: 2px;
          background-color: $searchBtnColor;

          @include responsive(min-desktop-middle) {
            min-width: 160px;
            height: 45px;
            line-height: 45px!important;
            padding-left: 10px!important;
          }
        }
      }
    }
  }

  & &-ui-mobile {
    &__header {
      background-color: $searchFormBGC;
    }

    &__back {
      left: 0px;
      top: 0px;

      &:after {
        left: 16px;
      }
    }
  }
}