&{
  font-family: $fontTheme;

  .row{
    @include responsive(max-desktop-middle) {
      justify-content: space-between;
      width: 100%;
      margin-left: 0;
      margin-right: 0;
    }
  }
  &-form{
    &-search{
      background-color: $searchFormBGC;

      &__startButton{
        &.btn-primary{
          box-shadow: 0 4px 8px 0 $searchBtnBoxShadow, inset 0 1px 2px 0 $searchBtnBoxShadowInset;
          transition: all .1s ease-in;
          height: 40px;
          padding: 0 18px;
          border: none;
          border-radius: 4px;
          font-size: 18px;
          color: $searchBtnColor;
          line-height: 35px;
          background: $searchBtnBGC;

          &:hover,
          &:active{
            background: $searchBtnBGC-hover!important;
            color: $searchBtnColor;
          }

          &:active{
            box-shadow: 0 0 0 0.2rem $searchBtnBoxShadow-active!important;
            border-color: $searchBtnBGC-hover!important;
          }
        }
      }
      &__wrapper{
        display: flex;
        flex-wrap: wrap;

        @include responsive(min-desktop-middle) {
          justify-content: space-around;
        }

        .form-group{
          @include responsive(min-desktop-middle) {
            margin-bottom:0;
          }
        }
      }
      &__footer{
        .col{
          @include responsive(phone) {
            padding: 0!important;
          }
        }
      }
    }
    &-airports{
      &__col.col{
        @include responsive(phone) {
          padding: 0!important;
        }
      }
      &__select{
        .Select-input input{
          @include responsive(desktop-large) {
            min-width: 250px;
          }
          @include responsive(desktop-middle) {
            max-width: 180px;
          }
        }
      }
    }
    &-dates{
      &__col.col{
        @include responsive(min-desktop-middle) {
          padding: 0!important;
        }

        @include responsive(tablet) {
          &:first-of-type{
            padding: 0 7.5px 0 15px!important;
          }

          &:last-of-type{
            padding: 0 15px 0 7.5px!important;
          }
        }

        @include responsive(phone) {
          padding: 0!important;
        }
      }
      .widget-ui-input{
        @include responsive(desktop-middle) {
          max-width: 155px;
        }
      }
    }
  }
  & &-ui-input_disabled{
    border-color: $inputDisabledBorderCOlor!important;
  }
  &-ui-dropdown{
    &__trigger{
      .form-control{
        border-radius: 2px;

        @include responsive(desktop-middle) {
          max-width: 130px;
        }
      }
    }
  }
}